<!doctype html>
<html>
<head>
    <title>J123's DCP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="teamName">J123's Drone Control Panel</h1>
        <nav>
            <ul>
                <li><a href="/" class="button">Home</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-form">
        <h2>Register your tags.</h2>
        <p>Enter tag information to begin controlling your drone.</p>
        <br>
        <!--이하 드론 등록 및 제거-->
        <!--<div class="drone">
            <form name="droneRegister" action="/submit/register/drone" method="post">
                <h2>Drone</h2>
                <p>Enter the drone and tag information to begin controlling your drone.</p>
                <input type="text" name="droneName" placeholder="Drone Name"></input><br>
                <input type="text" name="droneAddress" placeholder="Drone Address"></input><br>
                <input type="submit" value="Register">
            </form>
            <form name="droneDelete" action="/submit/delete/drone" method="post">
                <select name="deleteDrone">
                    {% for drone in droneList %}
                        <option value="{{ drone }}">{{ drone }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Delete">
            </form>
        </div>-->

        <!--이하 태그 등록 및 제거-->
        <br>
        <h2>Current Status</h2>
        <ul class="tag-list">
            {% for item in data %}
                <li>{{ item['tag_name'] }}</li>
            {% endfor %}
        </ul>
        <br>
        <div class="tag">
            <form name="registerTag" action="/submit/register/tag" method="post">
                <h2>Tag</h2>
                <p>Enter the MAC address of the tag you wish to register.</p>
                <br>
                <input type="text" name="tagName" placeholder="Tag Name"></input><br>
                <input type="text" name="macAddress" placeholder="Mac Address"></input><br>
                <input type="submit" value="Register">
            </form>
            <form name="deleteTag" action="/submit/delete/tag" method="post">
                <select name="deleteTag">
                    {% for item in data%}
                    <option value="{{ item['mac_address'] }}">{{ item['mac_address'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Delete">
            </form>
            <form name="editTag" action="/submit/edit/tag" method="post">
                <h2>Edit tag</h2>
                <p>Enter new information of the tag you wish to update.</p>
                <br>
                <select name="macAddress">
                    {% for item in data%}
                    <option value="{{ item['mac_address'] }}">{{ item['mac_address'] }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="text" name="tagName" placeholder="Tag Name"></input><br>
                <input type="submit" value="Edit">
            </form>
        </div>
        <br>
        <h2>Result</h2>
        <div class="sidebar">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>
    <footer>
            <p>&copy; 2025 J123's Drone Control Panel. All rights reserved.</p>
    </footer>
</body>
</html>